/**
 * Name: Feline Benavides
 * Student number: 11035358
 * This file holds all style changes for the tooltips, hover of the map and
 * legend. Thanks to W3Schools (see README).
**/

/* Tooltip */
#d3Tip {
    line-height: 1.5;
    padding: 8px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 5px;
}

/* Hovering over a country on the map */
div.hoverinfo {
    font-size: 15px;
    background: rgba(255, 255, 255, 0.9);
}

/* Legend of the map */
div.datamaps-legend {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    font-size: 12px;
    border-radius: 10px;
    border-style: solid;
    border-color: #E4DBE4;
}

.datamaps-legend dd {
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
}

#barText {
    font-size: 15px;
    padding: 15px;
    padding-left: 0px;
    padding-right: 20px;
}

g.xAxis {
    font-size: 11.5px;
}
