/**
 * Name: Feline Benavides
 * Student number: 11035358
 * This file holds all style changes for the tooltips and dropdown menu.
 * All style changes for the dropdown menu are from W3 schools (see README)
**/

/* Tooltip */
div.d3Tip {
    line-height: 1; /* height blokje */
    padding: 12px; /* zijkant */
    background: rgba(0, 0, 0, 0.7); /* achtergrond tool */
    color: #fff; /* tekst van land */
    border-radius: 5px; /* ronde hoekjes */
}

/* Dropdown Button */
.dropbtn {
  background-color: #67DA08;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #67DA08;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content
 * container when the user clicks on the dropdown button) */
.show {display:block;}
